<form method="POST" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  
  <p><label for="name">Recipe Name: </label></p>
  <input type="text" id="name" name="name" value="<%= @recipe.name %>">
  
  <p><label for="ingredients">Ingredients: </label></p>
  <input type="text" id="ingredients" name="ingredients" value="<%= @recipe.ingredients %>">
  
  <p><label for="cook_time">Cook Time: </label></p>
  <input type="text" id="cook_time" name="cook_time" value="<%= @recipe.cook_time %>">
  
  <p><input type="submit" value="Submit"></p>
</form>